{{ template "header.html" .}}
    <div class="SignForm">
        <h1 style="color: #fff;">Reset password</h1>
        <form action="/reset" method="post">
            <p class="hidden" id="warningEmail"><p> 
            <input class="loginInput" id="emailInput" type="text" name="email" autocomplete="off" placeholder="Email" required>
            <input class="loginSubmit" type="submit" value="Reset">
        </form>
    </div>

    <script>
		var email = document.querySelector('#emailInput'),
            warningEmail = document.querySelector('#warningEmail');

        if (!{{ .correct }}) {
            warningEmail.setAttribute('class', 'warningText');
            warningEmail.textContent = 'Wrong email!';
            email.setAttribute('class', 'loginInputFail');
        }

        email.onchange = function() {
            if (email.value.match(/^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{1,5}|[0-9]{1,3})(\]?)$/) != null) {
                warningEmail.setAttribute('class', 'hidden');
                warningEmail.textContent = "";
                email.setAttribute('class', 'loginInput');
            } else {
                warningEmail.setAttribute('class', 'warningText');
                warningEmail.textContent = 'Example: ab@abc.xyz';
                email.setAttribute('class', 'loginInputFail');
            };
        };
	</script>
{{ template "footer.html" .}}
